services:
  app_proxy:
    environment:
      APP_HOST: bnussbau-trmnl-byos-laravel_app_1
      APP_PORT: 8080
      PROXY_AUTH_WHITELIST: "/api/*"

  app:
    image: ghcr.io/usetrmnl/byos_laravel:0.25.0@sha256:a3f5be236ca1ea076aa81e86cd4092b2d3cd3b46927d57740e730ec91aaf2930
    environment:
      - PHP_OPCACHE_ENABLE=1
      - TRMNL_PROXY_REFRESH_MINUTES=15
      - DB_DATABASE=database/storage/database.sqlite
    volumes:
      - ${APP_DATA_DIR}/data/database/:/var/www/html/database/storage
      - ${APP_DATA_DIR}/data/images/:/var/www/html/storage/app/public/images/generated
      - ${APP_DATA_DIR}/data/firmwares/:/var/www/html/storage/app/public/firmwares
    restart: on-failure